h1{
    color: blue;
    text-decoration: underline;
    text-align: center;
}

body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    color: rgb(148, 27, 6);
    text-align: center;
}

th{
    color: rgb(10, 171, 163);
}

.table{
    justify-items: center;
    font-size: x-large;
}